<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap type="member" id="memberResultSet">
		<result column="MEMBER_NO" property="memberNo"/>	
		<result column="MEMBER_ID" property="memberId"/>	
		<result column="MEMBER_PWD" property="memberPwd"/>	
		<result column="MEMBER_NAME" property="memberName"/>	
		<result column="EMAIL" property="email"/>	
		<result column="GENDER" property="gender"/>	
		<result column="PHONE" property="phone"/>	
		<result column="MEMBER_STATUS" property="memberStatus"/>	
		<result column="MARK" property="mark"/>	
		<result column="BIRTH_DATE" property="birthDate"/>	
		<result column="POINT" property="point"/>	
		<result column="PLATFORM" property="platForm"/>	
		<result column="AUTHKEY" property="authKey"/>	
	</resultMap>
	
	<resultMap id="paymentResultSet" type = "payment">
		<result column="PAYMENT_NO" property="paymentNo"/>
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="MARK_NO" property="markNo"/>
		<result column="PAYMENT_DATE" property="paymentDate"/>
		<result column="PAYMENT_METHOD" property="paymentMethod"/>
	</resultMap>
	
	
	
	<select id="ajaxCheckId" resultType="_int" parameterType="String">
		
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
		
	</select>
	
	<select id="ajaxAuthEmail" resultType="_int" parameterType="String">
		
		SELECT COUNT(*) FROM MEMBER
		WHERE EMAIL = #{email}
		
	</select>
	
	<select id="loginMemberAuth" resultMap="memberResultSet" parameterType="String">
		
		SELECT * FROM MEMBER
		WHERE AUTHKEY = #{authKey}
		AND MEMBER_STATUS = 'Y'
	</select>
	
	<select id="AjaxPlatFormCheck" resultType="_int" parameterType="String">
		
		SELECT COUNT(*) FROM MEMBER
		WHERE AUTHKEY = #{authKey}
		AND MEMBER_STATUS = 'Y'
	</select>
	
	
	<insert id="insertMember" parameterType="member">
		
		INSERT INTO 
		MEMBER
		(MEMBER_NO, MEMBER_ID, MEMBER_PWD, MEMBER_NAME, EMAIL, PHONE, BIRTH_DATE, PLATFORM, AUTHKEY)
		VALUES
		(SEQ_MNO.NEXTVAL, #{memberId}, #{memberPwd}, #{memberName}, #{email}, #{phone}, #{birthDate}, #{platForm}, #{authKey})
		
	</insert>
	
	<select id="loginMember" parameterType="member" resultMap="memberResultSet">
	
		SELECT * FROM MEMBER 
		WHERE MEMBER_ID = #{memberId}
		AND MEMBER_STATUS = 'Y'
	
	</select>
	
	
	

</mapper>
