<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="teamMapper">

	<resultMap type="address" id="addressResultSet">
		<result column="ADDRESS_NO" property="addressNo"/>
		<result column="SIDO" property="siDo"/>
		<result column="GU" property="gu"/>
		<result column="SIGUN" property="siGun"/>
	</resultMap>
	
	<resultMap type="team" id="teamResultSet">
		<result column="TEAM_NO" property="teamNo"/>
		<result column="SPORTS_NO" property="sportsNo"/>
		<result column="TEAM_NAME" property="teamName"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="WIN_COUNT" property="winCount"/>
		<result column="DRAW_COUNT" property="drawCount"/>
		<result column="LOSE_COUNT" property="loseCount"/>
		<result column="WIN_POINT" property="winPoint"/>
		<result column="TEAM_INTRO" property="teamIntro"/>
		<result column="TEAM_STATUS" property="teamStatus"/>
		<result column="ADDRESS_NO" property="addressNo"/>
		<result column="SIDO_NAME" property="sidoName"/>
		<result column="SIGUNGU_NAME" property="siGunGuName"/>
		<result column="SPORTS_NAME" property="sportsName"/>
		<result column="ORIGIN_NAME" property="logoOriginName"/>
		<result column="CHANGE_NAME" property="logoChangeName"/>
		<result column="BOSS_ID" property="bossId"/>

	</resultMap>


	<select id="selectAddressList" resultMap="addressResultSet">
		SELECT *
		FROM ADDRESS
	</select>

	<insert id="insertTeam" parameterType="team">
		INSERT INTO TEAM
				(
				TEAM_NO 
				,TEAM_NAME
				,SPORTS_NAME
				,TEAM_INTRO
				,SIDO_NAME
				,SIGUNGU_NAME
				,ORIGIN_NAME
				,CHANGE_NAME
				,BOSS_ID

				)
			VALUES(
					SEQ_TNO.NEXTVAL
					,#{teamName}
					,#{sportsName}
					,#{teamIntro}
					,#{sidoName}
					,#{siGunGuName}
					,#{logoOriginName}
					,#{logoChangeName}
					,#{bossId}
					)
	</insert>
	
	<select id="selectTeamCount" resultType="_int">
	
		SELECT COUNT(*)
		FROM TEAM
		
	</select>
	
	<select id="selectTeamList" resultMap="teamResultSet">
	
		SELECT 
		    WIN_POINT
		    ,WIN_COUNT
		    ,TEAM_STATUS
		    ,TEAM_NO
		    ,TEAM_NAME
		    ,TEAM_INTRO
		    ,SPORTS_NAME
		    ,SIGUNGU_NAME
		    ,SIDO_NAME
		    ,ORIGIN_NAME
		    ,LOSE_COUNT
		    ,DRAW_COUNT
		    ,SUBSTR(CREATE_DATE, 1,10) CREATE_DATE
		    ,CHANGE_NAME
		    ,BOSS_ID
		FROM TEAM
		
	</select>
	
	<select id="serchSelectWmsCount" parameterType="HashMap" resultType="_int" >
		
		SELECT COUNT(*)
		FROM TEAM
		WHERE SIDO_NAME = #{sidoName}
		AND SIGUNGU_NAME = #{siGunGuName}
		AND SPORTS_NAME = #{sportsName}
	
	</select>
	
	<select id="serchSelectWms" parameterType="HashMap" resultMap="teamResultSet" resultType="arraylist">
		
		SELECT 
		    WIN_POINT
		    ,WIN_COUNT
		    ,TEAM_STATUS
		    ,TEAM_NO
		    ,TEAM_NAME
		    ,TEAM_INTRO
		    ,SPORTS_NAME
		    ,SIGUNGU_NAME
		    ,SIDO_NAME
		    ,ORIGIN_NAME
		    ,LOSE_COUNT
		    ,DRAW_COUNT
		    ,SUBSTR(CREATE_DATE, 1,10) CREATE_DATE
		    ,CHANGE_NAME
		    ,BOSS_ID
		FROM TEAM
			WHERE SIDO_NAME = #{sidoName}
			AND SIGUNGU_NAME = #{siGunGuName}
			AND SPORTS_NAME = #{sportsName}
	
	</select>
	
	<select id="selectOptionTeamList" parameterType="HashMap" resultMap="teamResultSet">
		
		SELECT 
		    WIN_POINT
		    ,WIN_COUNT
		    ,TEAM_STATUS
		    ,TEAM_NO
		    ,TEAM_NAME
		    ,TEAM_INTRO
		    ,SPORTS_NAME
		    ,SIGUNGU_NAME
		    ,SIDO_NAME
		    ,ORIGIN_NAME
		    ,LOSE_COUNT
		    ,DRAW_COUNT
		    ,SUBSTR(CREATE_DATE, 1,10) CREATE_DATE
		    ,CHANGE_NAME
		    ,BOSS_ID
		FROM TEAM
			WHERE BOSS_ID = #{memberId}
			AND SPORTS_NAME = #{sportsName}
	
	</select>








</mapper>